@page "/Productoverview"

<h3>Product Overview</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="AddNewProduct" class="me-1">Add Product</button>
    <button @onclick="ExportProducts">Export Products</button>
</div>



@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Product name</th>
                <th>Company name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in Products)
            {
                <tr>
                    <td><img src="@(ev.ImageUrl)" class="Product-image" /></td>
                    <td class="Product-name">@ev.Name </td>
                    <td class="Product-date">@ev.CompanyName </td>
                    <td>
                        <a href="@($"Productdetails/{ev.ProductId}")" class="Product-purchase-button btn">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

